<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
  <title>Anagram!</title>
</head>
  <body>
      <div class="container">
          <h1>The anagram app!</h1>
              <form action="/results">
                  <h1>Enter base word</h1>
                  <div class="form-group">
                      <label for="base_word"></label>
                      <input type="text" name="base_word" id="base_word">
                  </div>

                  <div class="form-group">
                      <h1>Enter possible anagrams</h1>
                      <label for="possible_anagram1"></label>
                      <input type="text" name="possible_anagram1" id="possible_anagram1">
                      <label for="possible_anagram2"></label>
                      <input type="text" name="possible_anagram2" id="possible_anagram2">
                      <label for="possible_anagram3"></label>
                      <input type="text" name="possible_anagram3" id="possible_anagram3">
                      <label for="possible_anagram4"></label>
                      <input type="text" name="possible_anagram4" id="possible_anagram4">
                      <label for="possible_anagram5"></label>
                      <input type="text" name="possible_anagram5" id="possible_anagram5">
                  </div>

                  <button type="submit" class="btn">Check!</button>
              </form>
      </div>
  </body>
</html>
